---
- name: Check if Calico is already installed
  command: kubectl get daemonset calico-node -n {{ calico_namespace }}
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  register: calico_check
  failed_when: false
  changed_when: false

- name: Install Calico CNI
  command: kubectl apply -f {{ calico_manifest_url }}
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  when: calico_check.rc != 0

