---
- name: Check if cluster already initialized
  stat:
    path: /etc/kubernetes/admin.conf
  register: kubeadm_init_check

- name: Initialize Kubernetes control plane
  command: >
    kubeadm init
    --pod-network-cidr={{ kubernetes_pod_cidr }}
    --control-plane-endpoint {{ kubernetes_cluster_domain }}:{{ kubernetes_api_port }}
    --upload-certs
    --v={{ kubeadm_verbose_level }}
  when: not kubeadm_init_check.stat.exists
  register: kubeadm_init_output

- name: Extract join command for control-plane
  shell: |
    echo "{{ kubeadm_init_output.stdout }}" | \
    sed -n '/kubeadm join/,/certificate-key/p'
  register: master_join_cmd
  when: kubeadm_init_output is defined

- name: Extract join command for workers
  shell: |
    echo "{{ kubeadm_init_output.stdout }}" | \
    sed -n '/kubeadm join/,/discovery-token-ca-cert-hash/p' | head -n 3
  register: worker_join_cmd
  when: kubeadm_init_output is defined

- name: Save join commands as facts
  set_fact:
    k8s_master_join_command: "{{ master_join_cmd.stdout | trim }}"
    k8s_worker_join_command: "{{ worker_join_cmd.stdout | trim }}"
