---
- name: Install Prerequisites
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true

- name: Add Docker Apt Key
  ansible.builtin.apt_key:
    url: "{{ docker_gpg_key }}"
    state: present

- name: Add Docker Apt Repository
  ansible.builtin.apt_repository:
    repo: "{{ docker_repo }}"
    state: present

- name: Install Docker-CE Docker-CE-CLI Containerd.io
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: true

- name: Copy Docker Daemon Config File
  ansible.builtin.template:
    src: "templates/daemon.json.j2"
    dest: "/etc/docker/daemon.json"
    mode: "0644"
    owner: "root"
    group: "root"
  notify:
    - Restart Docker

- name: Hold docker packages
  ansible.builtin.dpkg_selections:
    name: "{{ item }}"
    selection: hold
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
