---
- name: Force apt to use IPv4 to fix network issues
  copy:
    content: 'Acquire::ForceIPv4 "true";'
    dest: /etc/apt/apt.conf.d/99force-ipv4
    mode: "0644"

- name: Add official Kubernetes CRI-O GPG key
  shell: "curl -fsSL https://pkgs.k8s.io/addons:/cri-o:/prerelease:/main/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/cri-o-apt-keyring.gpg"
  args:
    creates: /etc/apt/keyrings/cri-o-apt-keyring.gpg

- name: Add official Kubernetes CRI-O repository
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/cri-o-apt-keyring.gpg] https://pkgs.k8s.io/addons:/cri-o:/prerelease:/main/deb/ /"
    filename: cri-o
    state: present
    update_cache: yes

- name: Install CRI-O package
  apt:
    name: cri-o
    state: present
    lock_timeout: 300

- name: Configure CRI-O to use systemd cgroup driver
  copy:
    dest: /etc/crio/crio.conf.d/02-cgroup-manager.conf
    content: |
      [crio.runtime]
      conmon_cgroup = "pod"
      cgroup_manager = "systemd"
    mode: '0644'
  notify: restart crio # اگر این فایل ساخته/تغییر کرد، به handler خبر بده

- name: Enable and start CRI-O service
  systemd:
    name: crio
    enabled: yes
    state: started
    daemon_reload: yes

- name: Install crictl
  unarchive:
    src: "https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.28.0/crictl-v1.28.0-linux-amd64.tar.gz"
    dest: /usr/local/bin/
    remote_src: yes
    mode: "0755"
    creates: /usr/local/bin/crictl
